<form action="/orders/<%= @order.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="order[title]" value="<%= @order.title %>" />
    </li>
    <li>
      <label for="title">ID</label>
      <textarea id="order_id" type="text" name="order[id]"  value="<%= @order.id %>">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>
