<!DOCTYPE html>
<html lang="en"
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title> Testing code </title>
  </head>
  <body>

    <?php

    ?>

  <script type="text/javascript">

    app.get('/', (request, response) => {
      database.find{}, (err, data) => {
        response.json(data);
      });
    });

      async function getData() {
          const response = await fetch('/');
          const data = await response.json();
          console.log(data)
      }
  </script>

    <img src="" id="rainbow" />

    <script type="text/javascript">
      console.log('about to fetch image');

      catchRainbow();

      async function catchRainbow(){
        const response = await fetch('cherry-blossom-tree.jpg');
        const blob = await response.blob();
        document.getElementById('rainbow').src = URL.createObjectURL(blob);
      }
    </script>
  </body>
</html>
