<div class="header">
  <h2></h2>
</div>

<html>
  <body>

    <audio controls>
          <source src="Menu 2 (Prod. JR) .ogg" type="audio/ogg">
      </audio>

  </body>
</html>


<li><a href="/orders/new">Make Request</a></li>

<li><a href="/orders/:id/edit">Edit Requests</a></li>
<li><a href="/orders">All Requests</a></li>
<li> <a class="active" href="/">Home</a> </li>

<form method="delete" action="/orders/delete" <%= @order.id %>">
      <input type="hidden" name="method" value="delete" />
      <input type="submit" value="delete" />
    </form>
<h1>The Sage's thoughts have spun.. </h1>

<div>
<h1><%= @sage.thought %></h1>
<h2><%= @sage.explenation %></h2>
</div>




<div class="footer">
  <h2>Destination: The Golden valleys</h2>
</div>
