<div>
<h2>Let's Sign You Up!</h2>

<h3> Please make a username and enter a email and password</h3>

<form action="/signup" method="POST">
    <input type="username" name="username" placeholder="username">
    <input type="email" name="email" placeholder="Email:">
    <input type="password_digest" name="password" placeholder="Password:">
    <input type="submit" value="Sign up">
      <a class="active" href="/">Home</a>
</form>
</div>
